{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="card">
  <h4 class="card-header" align="center"><i class="fa fa-compass" aria-hidden="true"></i> City based data</h4>
  <div class="card-body">
    <h3 class="card-title">What to take away from this report</h3>
      <p class="card-text">This report shows the Location distribution of the audience who have visited <b>Dysco App.</b> Here you will find the data about various Locations across last week and current week, last month and current month and lifetime distribution across top 5 cities</p>
      <p><i class="fa fa-info-circle" aria-hidden="true"></i> This report helps to project the diversity across audience of different Cities who have visited the Dysco App</p>
      <p><i class="fa fa-info-circle" aria-hidden="true"></i> The <span class="badge badge-success">Insights</span> tab gives a detailed information regarding various aspects related to the Dysco App</p>



  </div>
</div>
<br>


<!--TOTAL INSTALLS -->

<div class="row">
  <div class="col-sm-4">
    <div class="card border-success bg-primary text-white">
      <div class="card-body">
        <h4 class="card-title">Total installs</h4>
          <h4 class="card-title">{{ totalinstalls }} </h4>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card border-success bg-success text-white">
      <div class="card-body">
        <h4 class="card-title">Total Cities</h4>
          <h4 class="card-title">{{ totalcities }} </h4>
      </div>
    </div>
  </div>
</div>

<br>


<div class="row">
  <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/eUJgH1" height="50" width="50">&nbsp;&nbsp;Mumbai</h4>
          <h4 class="card-title">App installs : {{ lst.Mumbai }} </h4>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/1qnjQw" height="50" width="50">&nbsp;&nbsp;Bengaluru</h4>
          <h4 class="card-title">App installs : {{ lst.Bengaluru }} </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/j5tFqF" height="50" width="50">&nbsp;&nbsp;Pune</h4>
          <h4 class="card-title">App installs : {{ lst.Pune }} </h4>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/B5cjQ1" height="50" width="50">&nbsp;&nbsp;New Delhi</h4>
          <h4 class="card-title">App installs : {{ newdelhi }} </h4>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/2S5C9v" height="50" width="50">&nbsp;&nbsp;Delhi</h4>
          <h4 class="card-title">App installs : {{ lst.Delhi }} </h4>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-success">
      <div class="card-body">
        <h4 class="card-title"><img src="https://goo.gl/9uZkru" height="50" width="50">&nbsp;&nbsp;Ahmedabad</h4>
          <h4 class="card-title">App installs : {{ lst.Ahmedabad }} </h4>
      </div>
    </div>
  </div>
</div>


{% endblock %}


