{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}




<div class="card">
  <h4 class="card-header" align="center"><i class="fa fa-spin fa-star-half-o " aria-hidden="true"></i>Trending Profiles</h4>
  <div class="card-body">
    <h3 class="card-title">What to take away from this report</h3>
      <p class="card-text">This report shows the top 6 trending profiles amongst users using DyscoApp </p>
      <p><i class="fa fa-info-circle" aria-hidden="true"></i> Here the report is based on highest view counts</p>
      <p><i class="fa fa-info-circle" aria-hidden="true"></i> The <span class="badge badge-success">Insights</span> tab gives a detailed information regarding various aspects related to the App</p>

  </div>
</div>
<br>

<!-- collapse -->



<!--People with Highest followers -->


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-5">Most followed People on Dysco</h3>
    <br>

<div class="card-deck">
  <div class="card">

    <img class="card-img-top" src="{{ first.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">1st</span>
      <h4 class="card-title">{{ first.name }}</h4>
      <p class="card-text"><h4>{{ first.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ first.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ first.city }}</small> </h5>
      <a href="{{ first.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>

  </div>

  <div class="card">
    <img class="card-img-top" src="{{ second.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">2nd</span>
      <h4 class="card-title">{{ second.name }}</h4>
      <p class="card-text"><h4>{{ second.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ second.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ second.city }}</small> </h5>
      <a href="{{ second.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>
  </div>
 <div class="card">
    <img class="card-img-top" src="{{ third.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">3rd</span>
      <h4 class="card-title">{{ third.name }}</h4>
      <p class="card-text"><h4>{{ third.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ third.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ third.city }}</small> </h5>
      <a href="{{ third.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>
  </div>
</div>

    <br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{{ fourth.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">4th</span>
      <h4 class="card-title">{{ fourth.name }}</h4>
      <p class="card-text"><h4>{{ fourth.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ fourth.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ fourth.city }}</small> </h5>
      <a href="{{ fourth.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{ fifth.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">5th</span>
      <h4 class="card-title">{{ fifth.name }}</h4>
      <p class="card-text"><h4>{{ fifth.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ fifth.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ fifth.city }}</small> </h5>
      <a href="{{ fifth.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>
  </div>
 <div class="card">
    <img class="card-img-top" src="{{ sixth.photourl }}" alt="Card image cap">
    <div class="card-body text-success">
      <span class="badge badge-pill badge-success">6th</span>
      <h4 class="card-title">{{ sixth.name }}</h4>
      <p class="card-text"><h4>{{ sixth.followers }}</h4> Followers </p>
      <h5 class="card-text">{{ sixth.title }} </h5>
      <h5 class="card-text"><small class="text-muted">Lives in {{ sixth.city }}</small> </h5>
      <a href="{{ sixth.profilekey }}" target="_blank">
        <button type="button" class="btn btn-outline-secondary">View profile</button>
      </a>
    </div>
  </div>
</div>
</div>
</div>

<!--POSTS -->



{% endblock %}